@model List<BikeStore.Web.ViewModels.ProductViewModel>

<div style="text-align: center;">
    <h2>Lista de Produtos</h2>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Marca</th>
        <th scope="col">Categoria</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.BrandName</td>
            <td>@product.CategoryName</td>
            <td>
                <a asp-route-id="@product.Id" asp-controller="Products" asp-action="Edit" class="btn btn-editar">
                    <i class="fa-solid fa-pencil"></i>
                    Editar
                </a>
            </td>

        </tr>
    }
    </tbody>
</table>
